

            </div><!-- /Page Content -->
        </div><!-- /Page Container -->
        <!-- Javascripts -->
        <script src="./../assets/plugins/jquery/jquery-3.1.0.min.js"></script>
        <script src="./../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
        <script src="./../assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
        <script src="./../assets/plugins/uniform/js/jquery.uniform.standalone.js"></script>
        <script src="./../assets/plugins/switchery/switchery.min.js"></script>
        <script src="./../assets/js/space.min.js"></script>
    </body>
</html>
