<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Leadmaker is an app for search and crawl information from social media">
        <meta name="keywords" content="lead,maker,report,fb,search,graph">
        <meta name="author" content="PP">
        <!-- The above 6 meta tags *must* come first in the head; any other head content must come *after* these tags -->

        <!-- Title -->
        <title>Dashboard | Leadmaker</title>

        <!-- Styles -->
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
        <link href="./../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="./../assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="./../assets/plugins/icomoon/style.css" rel="stylesheet">
        <link href="./../assets/plugins/uniform/css/default.css" rel="stylesheet"/>
        <link href="./../assets/plugins/switchery/switchery.min.css" rel="stylesheet"/>

        <!-- Theme Styles -->
        <link href="./../assets/css/space.min.css" rel="stylesheet">
        <link href="./../assets/css/themes/admin3.css" rel="stylesheet">
        <link href="./../assets/css/custom.css" rel="stylesheet">
        <link rel="stylesheet" href="https://openlayers.org/en/v4.6.5/css/ol.css" type="text/css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/openlayers/4.6.5/ol.js"></script>
        <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>

                <!-- Page Container -->
                <div class="page-container">
                    <!-- Page Sidebar -->
                    <div class="page-sidebar">
                        <a class="logo-box" href="/">
                            <span>Leadmaker</span>
                            <i class="icon-close" id="sidebar-toggle-button-close"></i>
                        </a>
                        <div class="page-sidebar-inner">
                            <div class="page-sidebar-menu">
                                <ul class="accordion-menu">
                                    <li>
                                        <a href="./">
                                            <i class="menu-icon fa fa-home"></i><span>New</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="history">
                                            <i class="menu-icon fa fa-database"></i><span>History</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="settings">
                                            <i class="menu-icon fa fa-user"></i><span>User Settings</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="upgrade">
                                            <i class="menu-icon fa fa-shopping-cart"></i><span>Upgrade</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="invoices">
                                            <i class="menu-icon fa fa-file-text"></i><span>Invoices</span>
                                        </a>
                                    </li>
                                    <li class="menu-divider"></li>
                                    <li>
                                        <a href="help">
                                            <i class="menu-icon fa fa-question-circle"></i><span>Help</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="logout">
                                            <i class="menu-icon fa fa-sign-out"></i><span>Logout</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- /Page Sidebar -->

                    <!-- Page Content -->
                    <div class="page-content">
                        <!-- Page Header -->
                        <div class="page-header">
                            <nav class="navbar navbar-default">
                                <div class="container-fluid">
                                    <!-- Brand and toggle get grouped for better mobile display -->
                                    <div class="navbar-header">
                                        <div class="logo-sm">
                                            <a href="javascript:void(0)" id="sidebar-toggle-button"><i class="fa fa-bars"></i></a>
                                            <a class="logo-box" href="index.html"><span>Leadmaker</span></a>
                                        </div>
                                    </div>
                                    <!-- Collect the nav links, forms, and other content for toggling -->
                                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                        <ul class="nav navbar-nav">
                                            <li><a href="javascript:void(0)" id="collapsed-sidebar-toggle-button"><i class="fa fa-bars"></i></a></li>
                                            <li><a href="javascript:void(0)" id="toggle-fullscreen"><i class="fa fa-expand"></i></a></li>
                                        </ul>
                                    </div><!-- /.navbar-collapse -->
                                </div><!-- /.container-fluid -->
                            </nav>
                        </div><!-- /Page Header -->
