{{> header }}

<div class="page-inner">
    <div class="page-title">
        <h3 class="breadcrumb-header">History</h3>
    </div>
    <div id="main-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-white">
                    <div class="panel-body">
                        <h3 class="mb-1">
                            {{#if report.status}}
                                <span class="badge bg-primary">DONE</span>
                            {{else}}
                                <span class="badge bg-warning">PENDING</span>
                            {{/if}}
                            Created at {{report.viewDate}}
                        </h3>
                        <p>
                        Keywords:
                            {{#each report.keywordsArray}}
                                <span class="badge bg-dark">{{this}}</span>
                            {{/each}}
                        </p>
                        <hr>
                        <div class="card">
                            <div class="card-body">
                                <div class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="d-flex w-100 justify-content-between">
                                      <h5 class="mb-1"><a href="#" target="_blank"><i class="menu-icon fa fa-facebook"></i> <b>Fanpage Name</b></a></h5>
                                    </div>
                                    <div class="media">
                                      <img class="mr-3 img-responsive col-sm-2" src="https://mailchimp.com/assets/images/root/collage-sell-2x-2d075b5d.jpg" alt="Generic placeholder image">
                                      <div class="media-body">
                                        <b>Fan count:</b> 12,634 likes
                                        <br><b>Description:</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, officiis.
                                        <br><b>Category:</b> Fashion
                                        <br><b>Website:</b> https://example.com
                                      </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- Row -->
    </div><!-- Main Wrapper -->
</div><!-- /Page Inner -->

{{> footer }}
