{{> header }}
<!-- Page Inner -->
<div class="page-inner">
    <div class="page-title">
        <h3 class="breadcrumb-header">Dashboard</h3>
    </div>
    <div id="main-wrapper">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <div class="panel panel-white stats-widget">
                    <div class="panel-body">
                        <div class="pull-left">
                            <span class="stats-number">{{reportsCount}}</span>
                            <p class="stats-info">Total reports</p>
                        </div>
                        <div class="pull-right">
                            <i class="fa fa-tasks stats-icon"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="panel panel-white stats-widget">
                    <div class="panel-body">
                        <div class="pull-left">
                            <span class="stats-number">{{fanpagesCount}}</span>
                            <p class="stats-info">Total search</p>
                        </div>
                        <div class="pull-right">
                            <i class="fa fa-search stats-icon"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="panel panel-white stats-widget">
                    <div class="panel-body">
                        <div class="pull-left">
                            <span class="stats-number">{{keywordsCount}}</span>
                            <p class="stats-info">Keywords number</p>
                        </div>
                        <div class="pull-right">
                            <i class="fa fa-font stats-icon"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-white">
                    <div class="panel-heading clearfix">
                        <h4 class="panel-title">New search</h4>
                    </div>
                    <div class="panel-body">
                        <form method="post" action="./report/add">
                          <div class="form-group">
                            <label>Keywords separated by comma</label>
                            <input required type="text" class="form-control" name="keywords" placeholder="Keywords e.g. hairdresser,hair,beauty">
                          </div>
                          <div class="form-group">
                            <label>Range to search in kilometers</label>
                            <input required type="number" class="form-control" min="1" max="25" name="range" value="3" placeholder="e.g. 3">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputEmail1">Pick place to search</label>
                            <div name="map" id="map" class="map" tabindex="0"></div>
                            <div style="width: 200px;">
                              <div id="popup" title="Pick position">.</div>
                            </div>
                            <input type="hidden" class="form-control" id="coordinates" name="coordinates" hidden>
                          </div>
                          <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div><!-- Row -->
    </div><!-- Main Wrapper -->
</div><!-- /Page Inner -->

<script>
    var map = new ol.Map({
        layers: [
            new ol.layer.Tile({
                source: new ol.source.OSM()
            })
        ],
        target: 'map',
        controls: ol.control.defaults({
            attributionOptions: {
                collapsible: false
            }
        }),
        view: new ol.View({
            center: ol.proj.transform([14.41, 50.82], 'EPSG:4326', 'EPSG:3857'),
            zoom: 4
        })
    });

    // Popup showing the position the user clicked
    var popup = new ol.Overlay({
        element: document.getElementById('popup')
    });
    map.addOverlay(popup);

    map.on('click', function(evt) {
        let lat = ol.proj.transform(evt.coordinate, 'EPSG:3857', 'EPSG:4326')[1];
        let lon = ol.proj.transform(evt.coordinate, 'EPSG:3857', 'EPSG:4326')[0];
        console.log(lat, lon);

        var element = popup.getElement();
        var coordinate = evt.coordinate;
        var hdms = ol.coordinate.toStringHDMS(ol.proj.transform(
            coordinate, 'EPSG:3857', 'EPSG:4326'));

        $(element).popover('destroy');
        popup.setPosition(coordinate);
        // the keys are quoted to prevent renaming in ADVANCED mode.
        $(element).popover({
          'placement': 'top',
          'animation': false,
          'html': true,
          'content': '<p style="width: 150px;">The location you choosed was:</p><code style="text-align: right;">' + hdms + '</code>'
        });
        $(element).popover('show');
        // $(element).css('width', '200px');
        $('#coordinates').val(lat + ';' + lon);
    });
</script>

{{> footer }}
